<%= form_for(pedido) do |f| %>

<div class="table-responsive center">
  <table class="table table-striped">
    <tr>
      <td colspan="2"><strong>Data Produzido:</strong></td>
      <td colspan="1"><%= f.date_select(:dt_produzido) %></td>
    </tr>
  </table >
</div >
<% end %>
