<div class="card">
    <div class="card-content ">
      <h3>Cotação de Caixas</h3>
      <p>Informe os valores para cotação.(Considere o ponto para separar decimal)</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#padrao">Cotação Padrão</a></li>
        <li class="tab"><a  href="#ft">Fundo e Tampa</a></li>
        <li class="tab"><a href="#especial">Especial</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="padrao"><%= render 'cotacao_padrao' %></div>
      <div id="ft"><%= render 'cotacao_fundo_tampa' %></div>
      <div id="especial">Especial</div>
    </div>
  </div>
