<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= javascript_include_tag 'application','bootstrap'%>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <title>Cartokraft</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Navbar content -->
      <a class="navbar-brand" href="/">Cartokraft</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/app/cotacao">Cotação</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administrativo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/pedidos" target="_blank">Lista de Pedidos</a>
            <a class="dropdown-item" href="/app/fechamento" target="_blank">Exportação Pedidos para Fechamento</a>
            <a class="dropdown-item" href="/faturamentos" target="_blank">Lista de Faturamentos</a>
            <a class="dropdown-item" href="/app/faturamento" target="_blank">Graficos Faturamentos</a>


          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sistema Antigo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/app/dashboard">Entregas</a>
            <a class="dropdown-item" href="/app/entregas_detalhes">Detalhes Entregas</a>

          </div>
        </li>
      </ul>
    </div>
    </nav>


    <div class="container">
      <br>
      <%= yield %>
    </div>
  </body>
</html>
